In [ ]:
# Importacion de librerias
from bs4 import BeautifulSoup
import requests

Ejemplo 1 de HTML donde se extraera informacion para analizar

In [4]:

%%HTML
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<h3><b id="boldest">Lebron James</b></h3>
<p> Salary:  $92,000,000</p>
<h3> Sthephen Curry </h3>
<p> Salary:  $85,000,000</p>
<h3> Kevin Durant </h3>
<p> Salary:  $73,200,000</p>
</body>
</html>

In [5]:
html="<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3><b id='boldest'>Lebron James</b> \
</h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> \
Salary: $73,200, 000</p></body></html>"

In [9]:
# Creacion de insatncia de BeautifulSoup
soup = BeautifulSoup(html, 'lxml')
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   Page Title
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary: $ 92,000,000
  </p>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary: $85,000, 000
  </p>
  <h3>
   Kevin Durant
  </h3>
  <p>
   Salary: $73,200, 000
  </p>
 </body>
</html>

In [ ]:
# Extraccion de informacion de las etiquetas del archivo HTML
tag_object = soup.title
print("tag object text: ", tag_object.text)
print("tag type : ", type(tag_object))

# Si existen mas tag con el mismo nombre, el primero de ellos sera llamado

tag object text:  Page Title
tag type :  <class 'bs4.element.Tag'>

In [19]:
tag_object = soup.h3
tag_child = tag_object.b
tag_child

In [24]:
# Obtener informacion de la tag padre de la siguiente manera
parent_tag = tag_child.parent
print(parent_tag)
sibling_1 = tag_object.next_sibling
sibling_2 = sibling_1.next_sibling
print(f"Sibling_1 {sibling_1}")
print(f"Sibling_2 {sibling_2}")

<h3><b id="boldest">Lebron James</b> </h3>
Sibling_1 <p> Salary: $ 92,000,000 </p>
Sibling_2 <h3> Stephen Curry</h3>

In [30]:
SalaryStephen = sibling_2.next_sibling
print(f"Stephen {sibling_1.text}")

Stephen  Salary: $ 92,000,000

Se puede acceder a los atributos de la etiqueta mediante la indicacion que se le da a un diccionario

In [32]:
tag_child['id']  # Extrae el nombre del identificador de la etiqueta
tag_child.attrs

{'id': 'boldest'}

In [33]:
tag_child.get('id')

'boldest'

In [37]:
tag_string = tag_child.string
type(str(tag_string))

str

Ejemplo 2 de HTML donde se extraera informacion para analizar

In [38]:
%%html
<table>
  <tr>
    <td id='flight' >Flight No</td>
    <td>Launch site</td> 
    <td>Payload mass</td>
   </tr>
  <tr> 
    <td>1</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a></td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td>
    <td>80 kg</td>
  </tr>
</table>

In [39]:
# asignacion de html a variabel
table ="<table><tr><td id='flight'>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td><td>80 kg</td></tr></table>"

In [40]:
table_bs = BeautifulSoup(table, 'html5lib')

## Extraer etiquetas

In [41]:
# El metodo find_all() permite encontrar todas las coincidencias con un determinado nombre
# find_all(name, attrs, recursive, string, limit, **kwargs) Parametros utilizados
table_rows = table_bs.find_all('tr')
table_rows

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr>]

In [46]:
firs_row = table_rows[0]  # Extrae el elemento y sus clases hijas
print("Primer elemento: ", firs_row)
firs_row.td

Primer elemento:  <tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>

In [50]:
# Para recorrer todas las coincidencias encontradas se realiza lo siguiente
for i, row in enumerate(table_rows):
    print("row", i)    
    cells = row.find_all("td")   
    for j, cell in enumerate(cells):
        print('colunm', j, "cell", cell)

row 0
colunm 0 cell <td id="flight">Flight No</td>
colunm 1 cell <td>Launch site</td>
colunm 2 cell <td>Payload mass</td>
row 1
colunm 0 cell <td>1</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td>
colunm 2 cell <td>300 kg</td>
row 2
colunm 0 cell <td>2</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>
colunm 2 cell <td>94 kg</td>
row 3
colunm 0 cell <td>3</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td>
colunm 2 cell <td>80 kg</td>

In [52]:
list_input = table_bs.find_all(name=["tr", "td"])
list_input

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr>,
 <td>1</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td>,
 <td>300 kg</td>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <td>2</td>,
 <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>,
 <td>94 kg</td>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr>,
 <td>3</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td>,
 <td>80 kg</td>]

## Extraer  atributos

In [55]:
# Para identificadores
table_bs.find_all(id="flight")
# Para enlaces href
list_input = table_bs.find_all(href="https://en.wikipedia.org/wiki/Florida")
list_input

[<a href="https://en.wikipedia.org/wiki/Florida">Florida</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida</a>]

In [ ]:
table_bs.find_all(href=True)   # Extrae todos los enlaces del archivo html

[<a href="https://en.wikipedia.org/wiki/Florida">Florida</a>,
 <a href="https://en.wikipedia.org/wiki/Texas">Texas</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida</a>]

In [61]:
table_bs.find_all(href=False)
table_bs.find_all(id='flight')
table_bs.find_all(string='Florida')

['Florida', 'Florida']

In [62]:
%%html
<h3>Rocket Launch </h3>

<p>
<table class='rocket'>
  <tr>
    <td>Flight No</td>
    <td>Launch site</td> 
    <td>Payload mass</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Florida</td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Texas</td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Florida </td>
    <td>80 kg</td>
  </tr>
</table>
</p>
<p>

<h3>Pizza Party  </h3>
  
    
<table class='pizza'>
  <tr>
    <td>Pizza Place</td>
    <td>Orders</td> 
    <td>Slices </td>
   </tr>
  <tr>
    <td>Domino's Pizza</td>
    <td>10</td>
    <td>100</td>
  </tr>
  <tr>
    <td>Little Caesars</td>
    <td>12</td>
    <td >144 </td>
  </tr>
  <tr>
    <td>Papa John's </td>
    <td>15 </td>
    <td>165</td>
  </tr>

Hay 2 tablas embebidas en el mismo atributo de tipo, two_tables

In [63]:
two_tables="<h3>Rocket Launch </h3><p><table class='rocket'><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table></p><p><h3>Pizza Party  </h3><table class='pizza'><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td >144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr>"

In [65]:
# Creamos una instancion de tipo BeautifulSoup
two_tables_bs = BeautifulSoup(two_tables, 'html.parser')

In [ ]:
table1 = two_tables_bs.find("table", class_ ="rocket") #Extrae la primera table el archivo
table2 = two_tables_bs.find("table", class_="pizza")

<table class="rocket"><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table>

### Como descargar y extraer datos del contenido de una pagina web

In [ ]:
URL = "http://www.ibm.com"
data = requests.get(URL).text
# Creacion de instancia de BeautifulSoup
content = BeautifulSoup(data, 'html5lib')

In [78]:
# Extraccion de todos los link de la pagina
for link in content.find_all('a', href=True):
    print(link.get('href'))

https://www.ibm.com/granite?lnk=hpad1us
https://developer.ibm.com/technologies/artificial-intelligence?lnk=hpad2us
https://www.ibm.com/products/watsonx-code-assistant?lnk=hpad3us
https://www.ibm.com/watsonx/developer/?lnk=hpad4us
https://www.ibm.com/thought-leadership/institute-business-value/report/ceo-generative-ai?lnk=hpab1us
https://www.ibm.com/think/reports/ai-in-action?lnk=hpab2us
https://www.ibm.com/impact/ai-ethics?lnk=hpab3us
https://www.ibm.com/account/reg/signup?formid=news-urx-52954&lnk=hpab4us
https://www.ibm.com/artificial-intelligence?lnk=hpfp1us
https://www.ibm.com/hybrid-cloud?lnk=hpfp2us
https://www.ibm.com/consulting?lnk=hpfp3us
https://www.ibm.com/case-studies/water-corporation
https://www.ibm.com/case-studies/ibm-software-team

In [ ]:
# Extraccion de todas las imagenes
for img in content.find_all('img'):
    print(img)
    print(img.get('src'))
    
# En definitiva, no hay imagenes

In [80]:
URL = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"

In [82]:
data = requests.get(URL).text
content2 = BeautifulSoup(data, 'html.parser')

In [88]:
# Encontrar la tabla dentro de la pagina web
tabla_informacion = content2.find_all('table')
tabla_informacion

[<table border="1" class="main-table">
 <tr>
 <td>Number </td>
 <td>Color</td>
 <td>Color Name</td>
 <td>Hex Code<br/>#RRGGBB</td>
 <td>Decimal Code<br/>(R,G,B)</td>
 </tr>
 <tr>
 <td>1</td>
 <td style="background:lightsalmon;"> </td>
 <td>lightsalmon</td>
 <td>#FFA07A</td>
 <td>rgb(255,160,122)</td>
 </tr>
 <tr>
 <td>2</td>
 <td style="background:salmon;"> </td>
 <td>salmon</td>
 <td>#FA8072</td>
 <td>rgb(250,128,114)</td>
 </tr>
 <tr>
 <td>3</td>
 <td style="background:darksalmon;"> </td>
 <td>darksalmon</td>
 <td>#E9967A</td>
 <td>rgb(233,150,122)</td>
 </tr>
 <tr>
 <td>4</td>
 <td style="background:lightcoral;"> </td>
 <td>lightcoral</td>
 <td>#F08080</td>
 <td>rgb(240,128,128)</td>
 </tr>
 <tr>
 <td>5</td>
 <td style="background:coral;"> </td>
 <td>coral</td>
 <td>#FF7F50</td>
 <td>rgb(255,127,80)</td>
 </tr>
 <tr>
 <td>6</td>
 <td style="background:tomato;"> </td>
 <td>tomato</td>
 <td>#FF6347</td>
 <td>rgb(255,99,71)</td>
 </tr>
 <tr>
 <td>7</td>
 <td style="background:orangered;"> </td>
 <td>orangered</td>
 <td>#FF4500</td>
 <td>rgb(255,69,0)</td>
 </tr>
 <tr>
 <td>8</td>
 <td style="background:gold;"> </td>
 <td>gold</td>
 <td>#FFD700</td>
 <td>rgb(255,215,0)</td>
 </tr>
 <tr>
 <td>9</td>
 <td style="background:orange;"> </td>
 <td>orange</td>
 <td>#FFA500</td>
 <td>rgb(255,165,0)</td>
 </tr>
 <tr>
 <td>10</td>
 <td style="background:darkorange;"> </td>
 <td>darkorange</td>
 <td>#FF8C00</td>
 <td>rgb(255,140,0)</td>
 </tr>
 <tr>
 <td>11</td>
 <td style="background:lightyellow;"> </td>
 <td>lightyellow</td>
 <td>#FFFFE0</td>
 <td>rgb(255,255,224)</td>
 </tr>
 <tr>
 <td>12</td>
 <td style="background:lemonchiffon;"> </td>
 <td>lemonchiffon</td>
 <td>#FFFACD</td>
 <td>rgb(255,250,205)</td>
 </tr>
 <tr>
 <td>13</td>
 <td style="background:papayawhip;"> </td>
 <td>papayawhip</td>
 <td>#FFEFD5</td>
 <td>rgb(255,239,213)</td>
 </tr>
 <tr>
 <td>14</td>
 <td style="background:moccasin;"> </td>
 <td>moccasin</td>
 <td>#FFE4B5</td>
 <td>rgb(255,228,181)</td>
 </tr>
 <tr>
 <td>15</td>
 <td style="background:peachpuff;"> </td>
 <td>peachpuff</td>
 <td>#FFDAB9</td>
 <td>rgb(255,218,185)</td>
 </tr>
 <tr>
 <td>16</td>
 <td style="background:palegoldenrod;"> </td>
 <td>palegoldenrod</td>
 <td>#EEE8AA</td>
 <td>rgb(238,232,170)</td>
 </tr>
 <tr>
 <td>17</td>
 <td style="background:khaki;"> </td>
 <td>khaki</td>
 <td>#F0E68C</td>
 <td>rgb(240,230,140)</td>
 </tr>
 <tr>
 <td>18</td>
 <td style="background:darkkhaki;"> </td>
 <td>darkkhaki</td>
 <td>#BDB76B</td>
 <td>rgb(189,183,107)</td>
 </tr>
 <tr>
 <td>19</td>
 <td style="background:yellow;"> </td>
 <td>yellow</td>
 <td>#FFFF00</td>
 <td>rgb(255,255,0)</td>
 </tr>
 <tr>
 <td>20</td>
 <td style="background:lawngreen;"> </td>
 <td>lawngreen</td>
 <td>#7CFC00</td>
 <td>rgb(124,252,0)</td>
 </tr>
 <tr>
 <td>21</td>
 <td style="background:chartreuse;"> </td>
 <td>chartreuse</td>
 <td>#7FFF00</td>
 <td>rgb(127,255,0)</td>
 </tr>
 <tr>
 <td>22</td>
 <td style="background:limegreen;"> </td>
 <td>limegreen</td>
 <td>#32CD32</td>
 <td>rgb(50,205,50)</td>
 </tr>
 <tr>
 <td>23</td>
 <td style="background:lime;"> </td>
 <td>lime</td>
 <td>#00FF00</td>
 <td>rgb(0.255.0)</td>
 </tr>
 <tr>
 <td>24</td>
 <td style="background:forestgreen;"> </td>
 <td>forestgreen</td>
 <td>#228B22</td>
 <td>rgb(34,139,34)</td>
 </tr>
 <tr>
 <td>25</td>
 <td style="background:green;"> </td>
 <td>green</td>
 <td>#008000</td>
 <td>rgb(0,128,0)</td>
 </tr>
 <tr>
 <td>26</td>
 <td style="background:powderblue;"> </td>
 <td>powderblue</td>
 <td>#B0E0E6</td>
 <td>rgb(176,224,230)</td>
 </tr>
 <tr>
 <td>27</td>
 <td style="background:lightblue;"> </td>
 <td>lightblue</td>
 <td>#ADD8E6</td>
 <td>rgb(173,216,230)</td>
 </tr>
 <tr>
 <td>28</td>
 <td style="background:lightskyblue;"> </td>
 <td>lightskyblue</td>
 <td>#87CEFA</td>
 <td>rgb(135,206,250)</td>
 </tr>
 <tr>
 <td>29</td>
 <td style="background:skyblue;"> </td>
 <td>skyblue</td>
 <td>#87CEEB</td>
 <td>rgb(135,206,235)</td>
 </tr>
 <tr>
 <td>30</td>
 <td style="background:deepskyblue;"> </td>
 <td>deepskyblue</td>
 <td>#00BFFF</td>
 <td>rgb(0,191,255)</td>
 </tr>
 <tr>
 <td>31</td>
 <td style="background:lightsteelblue;"> </td>
 <td>lightsteelblue</td>
 <td>#B0C4DE</td>
 <td>rgb(176,196,222)</td>
 </tr>
 <tr>
 <td>32</td>
 <td style="background:dodgerblue;"> </td>
 <td>dodgerblue</td>
 <td>#1E90FF</td>
 <td>rgb(30,144,255)</td>
 </tr>
 </table>]

In [92]:
# Obtener todos los atributos dentro de la tabla
for i, row in enumerate(content2.find_all('tr')):
    if i == 0:
        continue
    # Obtener cada columna de datos
    colum = row.find_all('td')
    color_name = colum[2].string
    color_code = colum[3].string
    print("{}--->{}".format(color_name,color_code))

lightsalmon--->#FFA07A
salmon--->#FA8072
darksalmon--->#E9967A
lightcoral--->#F08080
coral--->#FF7F50
tomato--->#FF6347
orangered--->#FF4500
gold--->#FFD700
orange--->#FFA500
darkorange--->#FF8C00
lightyellow--->#FFFFE0
lemonchiffon--->#FFFACD
papayawhip--->#FFEFD5
moccasin--->#FFE4B5
peachpuff--->#FFDAB9
palegoldenrod--->#EEE8AA
khaki--->#F0E68C
darkkhaki--->#BDB76B
yellow--->#FFFF00
lawngreen--->#7CFC00
chartreuse--->#7FFF00
limegreen--->#32CD32
lime--->#00FF00
forestgreen--->#228B22
green--->#008000
powderblue--->#B0E0E6
lightblue--->#ADD8E6
lightskyblue--->#87CEFA
skyblue--->#87CEEB
deepskyblue--->#00BFFF
lightsteelblue--->#B0C4DE
dodgerblue--->#1E90FF